<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template"/>
    <meta name="author" content="potenzaglobalsolutions.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Webster - Responsive Multi-purpose HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugins-css.css"/>

    <!-- revoluation -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen"/>

    <!-- Typography -->
    <link rel="stylesheet" type="text/css" href="css/typography.css"/>

    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css"/>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>

    <link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" data-style="styles"/>

</head>

<body>

<div class="wrapper">
    <!-- preloader -->
    <div id="pre-loader">
        <img src="images/pre-loader/loader-13.svg" alt="">
    </div>
    <!-- preloader -->

    <!-- header -->
    <header id="header" class="header default">

        <!--=================================
         mega menu -->

        <div class="menu">
            <!-- menu start -->
            <nav id="menu" class="mega-menu">
                <!-- menu list items container -->
                <section class="menu-list-items">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg col-md">
                                <!-- menu logo -->
                                <ul class="menu-logo">
                                    <li>
                                        <a href="index.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg col-md">
                                <!-- menu links -->
                                <div class="menu-bar">
                                    <ul class="menu-links">
                                        <li><a href="javascript:void(0)">Услуги<i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->
                                            <ul class="drop-down-multilevel">
                                                <li><a href="javascript:void(0)">Услуги<i class="ti-plus fa-indicator"></i> </a>

                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-classic-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-classic-right-sidebar.html">right sidebar</a></li>
                                                        <li><a href="blog-classic-fullwidth.html">fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0)">grid <i class="ti-plus fa-indicator"></i> </a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-grid-2-column.html"> 2 column </a> </li>
                                                        <li><a href="blog-grid-3-column.html"> 3 column </a> </li>
                                                        <li><a href="blog-grid-2-column-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-grid-2-column-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0)">Masonry  <i class="ti-plus fa-indicator"></i> </a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-masonry-2-columns.html"> 2 column </a> </li>
                                                        <li><a href="blog-masonry-3-columns.html"> 3 column </a> </li>
                                                        <li><a href="blog-masonry-2-columns-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-masonry-2-columns-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">timeline  <i class="ti-plus fa-indicator"></i></a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-timeline.html">fullwidth</a></li>
                                                        <li><a href="blog-timeline-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-timeline-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">single post  <i class="ti-plus fa-indicator"></i></a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-single-audio-post.html"> audio post  </a> </li>
                                                        <li><a href="blog-single-grid-post.html"> grid post  </a> </li>
                                                        <li><a href="blog-single-HTML5-video-post.html"> HTML5 video post  </a> </li>
                                                        <li><a href="blog-single-image-post.html"> image post  </a> </li>
                                                        <li><a href="blog-single-slider-post.html"> slider post  </a> </li>
                                                        <li><a href="blog-single-soundcloud.html"> soundcloud  </a> </li>
                                                        <li><a href="blog-single-vimeo-post.html"> vimeo post  </a> </li>
                                                        <li><a href="blog-single-without-Image-post.html"> without Image post  </a> </li>
                                                        <li><a href="blog-single-youtube-post.html"> youtube post  </a> </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="prices.html">Цены</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li>
                                            <a href="aboutus.html">О нас</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Блог</a>
                                        </li>
                                        <li>
                                            <a href="vacancies.html">Вакансии</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg col-md">
                                <div class="search-cart">
                                    <div class="topbar-call text-right">
                                        <a class="phone" href="tel:+380939288894">(093) 92-888-94</a>
                                        <a href="mailto:alexander.gansky@gmail.com">alexander.gansky@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs">
                                <div class="search-cart">
                                    <div class="dropdown">
                                        <div class="dropbtn">UA</div>
                                        <div class="dropdown-content">
                                            <a href="#">UA</a>
                                            <a href="#">EN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
            <!-- menu end -->
        </div>
    </header>
    <!-- header -->

    <section class="meet-team white-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center pt-80">
                        <h2 class="title-effect">О нас</h2>
                        <p class="w-50 m-auto">Делаем то, что любим и умеем. Помогаем клиентам построить результативный бизнес с помощью инструментов маркетинга.</p>
                    </div>
                    <div class="blog-entry mb-50">
                        <div class="entry-image clearfix">
                            <img class="img-fluid" src="images/team/allteam.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-40">
                <div class="col-lg-12 col-md-12 ">
                    <div class="section-title text-center">
                        <h2>Для кого наши услуги</h2>
                    </div>
                    <div class="isotope columns-4">
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded text-center mb-15">
                                <img class="about-img" src="images/organosations.png" alt="" >
                                <h4 class="mt-30">Организации</h4>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-20">
                        <a href="#" class="btn btn-primary btn-lg"><span>Отправить заявку</span></a>
                    </div>
                </div>
            </div>

            <div class="row pt-40">
                <div class="col-lg-12 col-md-12 ">
                    <div class="section-title text-center">
                        <h2>Наша команда</h2>
                    </div>
                    <div class="isotope columns-4">
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="p-4 shadow-sm rounded mb-15">
                                <p>Head of UX/UI Department</p>
                                <img class="team-img mb-15" src="images/team.png" alt="" >
                                <p><a href="/">Вячеслав Маликов</a></p>
                                <div class="social-icons color-hover mt-10">
                                    <ul>
                                        <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-20">
                        <a href="#" class="btn btn-primary btn-lg"><span>Отправить заявку</span></a>
                    </div>
                </div>
            </div>

            <div class="row pt-40">
                <div class="col-lg-12 col-md-12 ">
                    <div class="section-title text-center">
                        <h2>Почему мы?</h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-30">
                    <ul class="list list-unstyled mb-30">
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-30">
                    <ul class="list list-unstyled mb-30">
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-30">
                    <ul class="list list-unstyled mb-30">
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                        <li> <i class="fa fa-plus-square"></i>Прозрачные условия работы
                            <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row pt-40">
                <div class="col-lg-12 col-md-12 ">
                    <div class="section-title text-center">
                        <h2>Заголовок SЕО текста</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Что такое SEO?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                    </div>
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Когда я получу результат?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское
                            обеспечение </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Что необходимо учесть при разработке интернет магазина?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .оценить значение
                            новых принципов формирования материально-технической .Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов
                            формирования материально-технической .оценить значение новых принципов формирования материально-технической .</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-7 m-auto pt-40">
                    <div class="login-box-02">
                        <div class="clearfix">
                            <h2 class="mb-30 pt-4 text-center">Заказать создание сайта</h2>
                            <div class="pt-0 pr-5 pl-5 pb-5">
                                <div class="section-field mb-20">
                                    <input type="text" placeholder="Имя*" class="form-control" name="name">
                                </div>
                                <div class="section-field mb-20">
                                    <input type="tel" placeholder="+38(___) ___-__-__" class="form-control" name="phone">
                                </div>
                                <div class="section-field mb-20">
                                    <input type="email" placeholder="Email*" class="form-control" name="email">
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-lg"><span>Отправить заявку</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <footer class="footer page-section-pt black-bg pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Услуги</h6>
                        <ul>
                            <li><a href="#">Интернет магазины </a></li>
                            <li><a href="#">Разработка CRM</a></li>
                            <li><a href="#">CEO</a></li>
                            <li><a href="#">Дизайн</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Компания</h6>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Политика</a></li>
                            <li><a href="#">Портфолио</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 text-center">
                    <h6 class="text-white mb-20 mt-10">Заинтересованы в создании проекта?</h6>
                    <button type="submit" class="btn btn-primary btn-lg" name="submitbtn"><span>Отправить заявку</span></button>
                    <ul class="list-group m-4">
                        <a href="index-01.html"><img src="images/logo.png" alt="logo"> </a>
                    </ul>
                    <p class="m-3">© 2022 - Все права защищены<span id="copyright"></span> <a href="#"> SKYLEX</a>™
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 xs-mb-30">
                    <div class="social-icons color-hover mt-10">
                        <ul>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i> </a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                        </ul>
                    </div>
                    <h6 class="text-white mb-10 mt-10">Контакты</h6>
                    <ul class="addresss-info">
                        <li><a href="tel:+380939288894"> <span>(093) 92-888-94</span> </a></li>
                        <li>alexander.gansky@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!-- jquery -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- revolution custom -->
<script src="revolution/js/revolution-custom.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>
</body>
</html>
