<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template"/>
    <meta name="author" content="potenzaglobalsolutions.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Webster - Responsive Multi-purpose HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugins-css.css"/>

    <!-- revoluation -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen"/>

    <!-- Typography -->
    <link rel="stylesheet" type="text/css" href="css/typography.css"/>

    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css"/>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>

    <link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" data-style="styles"/>

</head>

<body>

<div class="wrapper">
    <!-- preloader -->
    <div id="pre-loader">
        <img src="images/pre-loader/loader-13.svg" alt="">
    </div>
    <!-- preloader -->

    <!-- header -->
    <header id="header" class="header default">

        <!--=================================
         mega menu -->

        <div class="menu">
            <!-- menu start -->
            <nav id="menu" class="mega-menu">
                <!-- menu list items container -->
                <section class="menu-list-items">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg col-md">
                                <!-- menu logo -->
                                <ul class="menu-logo">
                                    <li>
                                        <a href="index.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg col-md">
                                <!-- menu links -->
                                <div class="menu-bar">
                                    <ul class="menu-links">
                                        <li><a href="javascript:void(0)">Услуги<i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->
                                            <ul class="drop-down-multilevel">
                                                <li><a href="javascript:void(0)">Услуги<i class="ti-plus fa-indicator"></i> </a>

                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-classic-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-classic-right-sidebar.html">right sidebar</a></li>
                                                        <li><a href="blog-classic-fullwidth.html">fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0)">grid <i class="ti-plus fa-indicator"></i> </a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-grid-2-column.html"> 2 column </a> </li>
                                                        <li><a href="blog-grid-3-column.html"> 3 column </a> </li>
                                                        <li><a href="blog-grid-2-column-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-grid-2-column-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0)">Masonry  <i class="ti-plus fa-indicator"></i> </a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-masonry-2-columns.html"> 2 column </a> </li>
                                                        <li><a href="blog-masonry-3-columns.html"> 3 column </a> </li>
                                                        <li><a href="blog-masonry-2-columns-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-masonry-2-columns-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">timeline  <i class="ti-plus fa-indicator"></i></a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-timeline.html">fullwidth</a></li>
                                                        <li><a href="blog-timeline-left-sidebar.html">left sidebar</a></li>
                                                        <li><a href="blog-timeline-right-sidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">single post  <i class="ti-plus fa-indicator"></i></a>
                                                    <!-- drop down second level -->
                                                    <ul class="drop-down-multilevel">
                                                        <li><a href="blog-single-audio-post.html"> audio post  </a> </li>
                                                        <li><a href="blog-single-grid-post.html"> grid post  </a> </li>
                                                        <li><a href="blog-single-HTML5-video-post.html"> HTML5 video post  </a> </li>
                                                        <li><a href="blog-single-image-post.html"> image post  </a> </li>
                                                        <li><a href="blog-single-slider-post.html"> slider post  </a> </li>
                                                        <li><a href="blog-single-soundcloud.html"> soundcloud  </a> </li>
                                                        <li><a href="blog-single-vimeo-post.html"> vimeo post  </a> </li>
                                                        <li><a href="blog-single-without-Image-post.html"> without Image post  </a> </li>
                                                        <li><a href="blog-single-youtube-post.html"> youtube post  </a> </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="prices.html">Цены</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li>
                                            <a href="aboutus.html">О нас</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Блог</a>
                                        </li>
                                        <li>
                                            <a href="vacancies.html">Вакансии</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg col-md">
                                <div class="search-cart">
                                    <div class="topbar-call text-right">
                                        <a class="phone" href="tel:+380939288894">(093) 92-888-94</a>
                                        <a href="mailto:alexander.gansky@gmail.com">alexander.gansky@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs">
                                <div class="search-cart">
                                    <div class="dropdown">
                                        <div class="dropbtn">UA</div>
                                        <div class="dropdown-content">
                                            <a href="#">UA</a>
                                            <a href="#">EN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
            <!-- menu end -->
        </div>
    </header>
    <!-- header -->

    <section class="white-bg page-section-ptb pt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-30">
                    <div>
                        <h1 class="title-effect">Безопасность WEB-приложений: 10 главных угроз и как от них защититься</h1>
                    </div>
                </div>
                <div class="col-lg-12">
                    <ul class="page-breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Главная</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><a href="#">Блог</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><a href="#">Новости</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><span>Безопасность WEB-приложений: 10 главных угроз и как от них защититься</span></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 mt-30">
                    <h5 class="font-weight-bold mt-15">Содержание:</h5>
                    <ol class="big-list">
                        <a href="">
                            <li>Внедрение</li>
                        </a>
                        <a href="">
                            <li>Некорректная аутентификация</li>
                        </a>
                        <a href="">
                            <li>Утечка конфиденциальных данных</li>
                        </a>
                        <a href="">
                            <li>Внешние XML-сущности (XXE)</li>
                        </a>
                        <a href="">
                            <li>Нарушение контроля доступа</li>
                        </a>
                        <a href="">
                            <li>Неправильная настройка безопасности</li>
                        </a>
                        <a href="">
                            <li>Межсайтовый скриптинг (XSS)</li>
                        </a>
                        <a href="">
                            <li>Небезопасная десериализация</li>
                        </a>
                        <a href="">
                            <li>Использование компонентов с известными уязвимостями</li>
                        </a>
                    </ol>
                </div>
                <div class="col-lg-6 col-md-6 mt-30">
                    <div class="grid-item">
                        <div class="portfolio-item">
                            <img src="images/portfolio/small/01.jpg" alt="">
                            <a class="popup portfolio-img" href="images/portfolio/small/01.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-15">
                    <p>По данным Positive Technologies, 26% всех кибератак приходится на сайты. Еще 49% – направлены на инфраструктуру предприятий, которая также часто основана на интернет-технологиях.
                        Недостаточная защищенность веб-приложений чревата для собственников экономическими, репутационными и другими видами рисков. Взломанные сайты используются для распространения вирусов, кражи данных, публикации конфиденциальной
                        информации и проникновения во внутренние сети предприятий.

                        Далее рассмотрим популярные виды угроз и как от них защититься.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="white-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="section-title">
                        <h2 class="title-effect">10 угроз для веб-приложений</h2>
                    </div>
                    <h3 class="mb-15">1. Внедрение</h3>
                    <p>Хакеры часто используют поля ввода, чтобы внедрять грамматически допустимые конструкции, нарушающие логику приложения. Так можно ввести вредоносный код в приложения, основанные на SQL, noSQL или LDAP.
                        SQL-инъекция – один самых распространенных видов атак на веб-приложения.
                        Особенно часто внедрения происходят, когда на сайте нет ограничений того, что пользователь вводит в полях и формах. Вредоносный код, попавший в приложение таким способом, может предоставить хакеру доступ к конфиденциальной
                        информации или правам администратора.</p>
                    <h6 class="mt-15">Как обезопаситься:</h6>
                    <ul class="list list-arrow">
                        <li> Убедитесь, что данные вывода соответствуют логике приложения. Если приложение просит ввести имя в поле ввода, оно должно выводить тоже имя, а не базу данных целиком.</li>
                        <li> Защищайте поля ввода. Например, при вводе номера телефона у пользователя должна быть возможность вводить только цифры и ограниченное количество релевантных знаков (например, плюс и скобки), но не другие символы. Имена
                            пользователей не должны содержать последовательности вроде «—«.
                        </li>
                        <li> Автоматизируйте поиск уязвимостей в коде с помощью специализированных инструментов анализа, таких как: Raxis, DeepScan, Kiuwan, PVS-Studio, Gamma, reshift.</li>
                    </ul>
                </div>
                <div class="col-lg-12 mb-30">
                    <h3 class="mb-15">2. Некорректная аутентификация</h3>
                    <div class="mt-0">
                        <img class="img-fluid mx-auto" src="images/bg/13.png" alt="">
                    </div>
                    <p class="mt-15">Хакеры часто используют поля ввода, чтобы внедрять грамматически допустимые конструкции, нарушающие логику приложения. Так можно ввести вредоносный код в приложения, основанные на SQL, noSQL или LDAP.
                        SQL-инъекция – один самых распространенных видов атак на веб-приложения.
                        Особенно часто внедрения происходят, когда на сайте нет ограничений того, что пользователь вводит в полях и формах. Вредоносный код, попавший в приложение таким способом, может предоставить хакеру доступ к конфиденциальной
                        информации или правам администратора.</p>
                    <h6 class="mt-15">Как обезопаситься:</h6>
                    <ul class="list list-arrow">
                        <li> Убедитесь, что данные вывода соответствуют логике приложения. Если приложение просит ввести имя в поле ввода, оно должно выводить тоже имя, а не базу данных целиком.</li>
                        <li> Защищайте поля ввода. Например, при вводе номера телефона у пользователя должна быть возможность вводить только цифры и ограниченное количество релевантных знаков (например, плюс и скобки), но не другие символы. Имена
                            пользователей не должны содержать последовательности вроде «—«.
                        </li>
                        <li> Автоматизируйте поиск уязвимостей в коде с помощью специализированных инструментов анализа, таких как: Raxis, DeepScan, Kiuwan, PVS-Studio, Gamma, reshift.</li>
                    </ul>
                </div>
                <div class="col-lg-12 mb-30">
                    <h3 class="mb-15">3. Утечка конфиденциальных данных</h3>
                    <p>Хакеры часто используют поля ввода, чтобы внедрять грамматически допустимые конструкции, нарушающие логику приложения. Так можно ввести вредоносный код в приложения, основанные на SQL, noSQL или LDAP.
                        SQL-инъекция – один самых распространенных видов атак на веб-приложения.
                        Особенно часто внедрения происходят, когда на сайте нет ограничений того, что пользователь вводит в полях и формах. Вредоносный код, попавший в приложение таким способом, может предоставить хакеру доступ к конфиденциальной
                        информации или правам администратора.</p>
                    <h6 class="mt-15">Как обезопаситься:</h6>
                    <ul class="list list-arrow">
                        <li> Убедитесь, что данные вывода соответствуют логике приложения. Если приложение просит ввести имя в поле ввода, оно должно выводить тоже имя, а не базу данных целиком.</li>
                        <li> Защищайте поля ввода. Например, при вводе номера телефона у пользователя должна быть возможность вводить только цифры и ограниченное количество релевантных знаков (например, плюс и скобки), но не другие символы. Имена
                            пользователей не должны содержать последовательности вроде «—«.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <p><strong>Публикация:</strong> 23.02.2020</p>
                </div>
            </div>
        </div>
    </section>

    <section class="white-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title-effect">Ваc может заинтересовать</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="isotope full-screen columns-3">
                        <div class="grid-item leadership">
                            <div class="blog-entry mb-50">
                                <div class="entry-image clearfix">
                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                </div>
                                <div class="blog-detail">
                                    <div class="entry-meta mb-10">
                                        <ul>
                                            <li><i class="fa fa-folder-open-o"></i> <a href="#"> Новости</a></li>
                                            <li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="entry-title mb-10">
                                        <a href="#">Blogpost With Image</a>
                                    </div>
                                    <div class="entry-share clearfix">
                                        <div class="entry-button">
                                            <a class="button arrow" href="#">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item development">
                            <div class="blog-entry mb-50">
                                <div class="entry-image clearfix">
                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                </div>
                                <div class="blog-detail">
                                    <div class="entry-meta mb-10">
                                        <ul>
                                            <li><i class="fa fa-folder-open-o"></i> <a href="#"> Новости</a></li>
                                            <li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="entry-title mb-10">
                                        <a href="#">Blogpost With Image</a>
                                    </div>
                                    <div class="entry-share clearfix">
                                        <div class="entry-button">
                                            <a class="button arrow" href="#">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item design">
                            <div class="blog-entry mb-50">
                                <div class="entry-image clearfix">
                                    <img class="img-fluid" src="images/blog/02.jpg" alt="">
                                </div>
                                <div class="blog-detail">
                                    <div class="entry-meta mb-10">
                                        <ul>
                                            <li><i class="fa fa-folder-open-o"></i> <a href="#"> Новости</a></li>
                                            <li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2018</a></li>
                                        </ul>
                                    </div>
                                    <div class="entry-title mb-10">
                                        <a href="#">Blogpost With Image</a>
                                    </div>
                                    <div class="entry-share clearfix">
                                        <div class="entry-button">
                                            <a class="button arrow" href="#">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer page-section-pt black-bg pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Услуги</h6>
                        <ul>
                            <li><a href="#">Интернет магазины </a></li>
                            <li><a href="#">Разработка CRM</a></li>
                            <li><a href="#">CEO</a></li>
                            <li><a href="#">Дизайн</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Компания</h6>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Политика</a></li>
                            <li><a href="#">Портфолио</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 text-center">
                    <h6 class="text-white mb-20 mt-10">Заинтересованы в создании проекта?</h6>
                    <button type="submit" class="btn btn-primary btn-lg" name="submitbtn"><span>Отправить заявку</span></button>
                    <ul class="list-group m-4">
                        <a href="index-01.html"><img src="images/logo.png" alt="logo"> </a>
                    </ul>
                    <p class="m-3">© 2022 - Все права защищены<span id="copyright"></span> <a href="#"> SKYLEX</a>™
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 xs-mb-30">
                    <div class="social-icons color-hover mt-10">
                        <ul>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i> </a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                        </ul>
                    </div>
                    <h6 class="text-white mb-10 mt-10">Контакты</h6>
                    <ul class="addresss-info">
                        <li><a href="tel:+380939288894"> <span>(093) 92-888-94</span> </a></li>
                        <li>alexander.gansky@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!-- jquery -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- revolution custom -->
<script src="revolution/js/revolution-custom.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>
</body>
</html>
