<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template"/>
    <meta name="author" content="potenzaglobalsolutions.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Webster - Responsive Multi-purpose HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugins-css.css"/>

    <!-- revoluation -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen"/>

    <!-- Typography -->
    <link rel="stylesheet" type="text/css" href="css/typography.css"/>

    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css"/>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>

    <link rel="stylesheet" type="text/css" href="css/skins/skin-water-blue.css" data-style="styles"/>

</head>

<body>

<div class="wrapper">
    <!-- preloader -->
    <div id="pre-loader">
        <img src="images/pre-loader/loader-13.svg" alt="">
    </div>
    <!-- preloader -->

    <!-- header -->
    <header id="header" class="header default">

        <!--=================================
         mega menu -->

        <div class="menu">
            <!-- menu start -->
            <nav id="menu" class="mega-menu">
                <!-- menu list items container -->
                <section class="menu-list-items">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg col-md">
                                <!-- menu logo -->
                                <ul class="menu-logo">
                                    <li>
                                        <a href="index-01.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg col-md">
                                <!-- menu links -->
                                <div class="menu-bar">
                                    <ul class="menu-links">
                                        <li>
                                            <a href="#">Услуги</a>
                                        </li>
                                        <li>
                                            <a href="/">Цены</a>
                                        </li>
                                        <li>
                                            <a href="/">Портфолио</a>
                                        </li>
                                        <li>
                                            <a href="/">О нас</a>
                                        </li>
                                        <li>
                                            <a href="/">Блог</a>
                                        </li>
                                        <li>
                                            <a href="/">Вакансии</a>
                                        </li>
                                        <li>
                                            <a href="/">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg col-md">
                                <div class="search-cart">
                                    <div class="topbar-call text-right">
                                        <a class="phone" href="tel:+380939288894">(093) 92-888-94</a>
                                        <a href="mailto:alexander.gansky@gmail.com">alexander.gansky@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs">
                                <div class="search-cart">
                                    <div class="dropdown">
                                        <div class="dropbtn">UA</div>
                                        <div class="dropdown-content">
                                            <a href="#">UA</a>
                                            <a href="#">EN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
            <!-- menu end -->
        </div>
    </header>
    <!-- header -->

    <section class="meet-team white-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title pt-80 text-center">
                        <h2 class="title-effect">Landing Page</h2>
                    </div>
                        <img src="images/notebook.png" alt="" style="max-width: 980px; max-height: 600px; width: 100%">
                        <img src="images/phone.png" alt="" style="max-width: 225px; max-height: 449px; margin: auto; width: 100%">
                    <div class="text-center mt-40">
                        <a href="#" class="btn btn-primary btn-lg"><span>Оставить заявку</span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title pt-80">
                        <h2 class="title-effect">Создание Landing Page — быстрый старт</h2>
                        <p>Разработка LandingPage (Лэндинг Пейдж) – идеальное решение в ситуации, когда нужно получить быстрый результат с минимальными вложениями. Лэндингом называют одностраничный сайт (посадочную страницу), который содержит
                            необходимый минимум информации выраженного коммерческого направления.</p>
                    </div>
                    <div class="">
                        <h4>Задачи, которые можно решать с помощью Landing Page:</h4>

                        <div class="isotope full-screen columns-3">
                            <div class="grid-item development">
                                <p>
                                    Продажа конкретной группы товаров или одного товара
                                </p>
                            </div>
                            <div class="grid-item development">
                                <p>
                                    Продажа конкретной группы товаров или одного товара
                                </p>
                            </div>
                            <div class="grid-item development">
                                <p>
                                    Продажа конкретной группы товаров или одного товара
                                </p>
                            </div>
                            <div class="grid-item development">
                                <p>
                                    Продажа конкретной группы товаров или одного товара
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title m-0">
                        <h2 class="title-effect">Основные этапы разработки</h2>
                    </div>
                    <ul class="list list-unstyled">
                        <li><i class="fa fa-check-circle"></i> <strong>Обсуждение</strong> идеи с заказчиком для понимания целей, потребностей аудитории, изучения конкурентов, составления технического задания</li>
                        <li><i class="fa fa-check-circle"></i> <strong>Обсуждение</strong> идеи с заказчиком для понимания целей, потребностей аудитории, изучения конкурентов, составления технического задания</li>
                        <li><i class="fa fa-check-circle"></i> <strong>Обсуждение</strong> идеи с заказчиком для понимания целей, потребностей аудитории, изучения конкурентов, составления технического задания</li>
                        <li><i class="fa fa-check-circle"></i> <strong>Обсуждение</strong> идеи с заказчиком для понимания целей, потребностей аудитории, изучения конкурентов, составления технического задания</li>
                        <li><i class="fa fa-check-circle"></i> <strong>Обсуждение</strong> идеи с заказчиком для понимания целей, потребностей аудитории, изучения конкурентов, составления технического задания</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <h2 class="">Почему нам доверяют создание Landing Page</h2>
                    </div>
                    <div class="isotope full-screen columns-3">
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded5">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>
                        <div class="grid-item text-center">
                            <div class="p-4 shadow-sm rounded">
                                <h2>01</h2>
                                <p class="w-75 m-auto">Командная работа над проектом с четким разделением обязанностей</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="meet-team white-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title-effect">Типы услуг Landing Page</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="isotope full-screen columns-1">
                        <div class="grid-item development">
                            <div class="row p-4 shadow-sm border border-primary rounded">
                                <div class="col-lg-6">
                                    <h2>Landing Page</h2>
                                    <p class="m-0">Одностраничный сайт, основная задача которого быстро продать одиночный товар / услугу, предназначен для продвижения через рекламу.</p>
                                </div>
                                <div class="col-lg-4 text-center m-auto">
                                    <h3 class="m-0">от 5 000 грн</h3>
                                </div>
                                <div class="col-lg-2 text-right m-auto">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-primary btn-lg"><span>Заказать услугу</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item development">
                            <div class="row p-4 shadow-sm border border-primary rounded">
                                <div class="col-lg-6">
                                    <h2>Landing Page</h2>
                                    <p class="m-0">Одностраничный сайт, основная задача которого быстро продать одиночный товар / услугу, предназначен для продвижения через рекламу.</p>
                                </div>
                                <div class="col-lg-4 text-center m-auto">
                                    <h3 class="m-0">от 5 000 грн</h3>
                                </div>
                                <div class="col-lg-2 text-right m-auto">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-primary btn-lg"><span>Заказать услугу</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item development">
                            <div class="row p-4 shadow-sm border border-primary rounded">
                                <div class="col-lg-6">
                                    <h2>Landing Page</h2>
                                    <p class="m-0">Одностраничный сайт, основная задача которого быстро продать одиночный товар / услугу, предназначен для продвижения через рекламу.</p>
                                </div>
                                <div class="col-lg-4 text-center m-auto">
                                    <h3 class="m-0">от 5 000 грн</h3>
                                </div>
                                <div class="col-lg-2 text-right m-auto">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-primary btn-lg"><span>Заказать услугу</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-40">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title text-center">
                        <h2 class="title-effect">Примеры работ</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="isotope columns-2 popup-gallery">
                        <div class="grid-item">
                            <div class="portfolio-item">
                                <img src="images/portfolio/small/01.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                    <span class="text-white"> <a href="#"> Branding </a> | <a href="#"> Web Design </a> </span>
                                </div>
                                <a class="popup portfolio-img" href="images/portfolio/small/01.jpg"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="portfolio-item">
                                <img src="images/portfolio/small/03.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                    <span class="text-white"> <a href="#"> Branding </a> | <a href="#"> Web Design </a> </span>
                                </div>
                                <a class="popup portfolio-img" href="images/portfolio/small/03.jpg"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="portfolio-item">
                                <img src="images/portfolio/small/05.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                    <span class="text-white"> <a href="#"> Branding </a> | <a href="#"> Web Design </a> </span>
                                </div>
                                <a class="popup portfolio-img" href="images/portfolio/small/05.jpg"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="portfolio-item">
                                <img src="images/portfolio/small/07.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <h4 class="text-white"><a href="portfolio-single-01.html"> Your title here </a></h4>
                                    <span class="text-white"> <a href="#"> Branding </a> | <a href="#"> Web Design </a> </span>
                                </div>
                                <a class="popup portfolio-img" href="images/portfolio/small/07.jpg"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="">Посмотреть все</a>
                    </div>
                </div>
            </div>

            <div class="row pt-40">
                <div class="col-lg-12 col-md-12 ">
                    <div class="section-title text-center">
                        <h2>Заголовок SЕО текста</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Что такое SEO?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .</p>
                    </div>
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Когда я получу результат?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское
                            обеспечение </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="faq-item">
                        <h5 class="timeline-title text-muted">Что необходимо учесть при разработке интернет магазина?</h5>
                        <p>Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов формирования материально-технической .оценить значение
                            новых принципов формирования материально-технической .Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых принципов
                            формирования материально-технической .оценить значение новых принципов формирования материально-технической .</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 m-auto pt-40">
                    <div class="login-box-02">
                        <div class="clearfix">
                            <h2 class="mb-30 pt-4 text-center">Заказать создание сайта</h2>
                            <div class="pt-0 pr-5 pl-5 pb-5">
                                <div class="section-field mb-20">
                                    <input type="text" placeholder="Имя*" class="form-control" name="name">
                                </div>
                                <div class="section-field mb-20">
                                    <input type="tel" placeholder="+38(___) ___-__-__" class="form-control" name="phone">
                                </div>
                                <div class="section-field mb-20">
                                    <input type="email" placeholder="Email*" class="form-control" name="email">
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-lg"><span>Отправить заявку</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <footer class="footer page-section-pt white-bg pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-black mb-30 mt-10 text-uppercase">Услуги</h6>
                        <ul>
                            <li><a href="#">Интернет магазины </a></li>
                            <li><a href="#">Разработка CRM</a></li>
                            <li><a href="#">CEO</a></li>
                            <li><a href="#">Дизайн</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 sm-mb-30">
                    <div class="footer-useful-link footer-hedding">
                        <h6 class="text-black mb-30 mt-10 text-uppercase">Компания</h6>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Политика</a></li>
                            <li><a href="#">Портфолио</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 text-center">
                    <h6 class="text-black mb-20 mt-10">Заинтересованы в создании проекта?</h6>
                    <button type="submit" class="btn btn-primary btn-lg" name="submitbtn"><span>Отправить заявку</span></button>
                    <ul class="menu-logo m-4">
                        <li>
                            <a href="index-01.html"><img src="images/logo.png" alt="logo"> </a>
                        </li>
                    </ul>
                    <p class="m-3">© 2022 - Все права защищены<span id="copyright"></span> <a href="#"> SKYLEX</a>™
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 xs-mb-30">
                    <div class="social-icons color-hover mt-10">
                        <ul>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i> </a></li>
                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                        </ul>
                    </div>
                    <h6 class="text-black mb-10 mt-10">Контакты</h6>
                    <ul class="addresss-info">
                        <li><a href="tel:+380939288894"> <span>(093) 92-888-94</span> </a></li>
                        <li>alexander.gansky@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!-- jquery -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- revolution custom -->
<script src="revolution/js/revolution-custom.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>
</body>
</html>
